@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
   --cor-padrao: #25064c;
   --cor-secundaria: rgba(17, 17, 17, 0.695);
   --cor-input: rgb(221, 220, 220);
   --form-background: rgb(242, 231, 231);

   --font-principal: Poppins, sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.box {
   padding: 15px 3em;
   display: flex;
   flex-direction: column;
   margin-top: 8px;
   border-radius: 2px;
   box-shadow: 1px 1px 1px rgb(207, 205, 205), -1px -1px 1px rgb(207, 205, 205);
   margin-left: auto;
   margin-right: auto;
   height: auto;
}

form {
   display: flex;
   flex-direction: column;
   gap: 8px;

   justify-content: center;
}

.div-logo {
   margin-top: 30px;
   display: flex;
   justify-content: center;
   width: 200px;
   margin-left: auto;
   margin-right: auto;
}

.div-logo img {
   width: 150px;
   height: 150px;
}

h2 {
   text-align: center;
   margin-bottom: 2.5px;
   font-family: var(--font-principal);
   font-size: 16px;
   font-weight: 400;
}

.insert {
   height: 28px;
   padding-left: 5px;
   margin-top: 5px;
   outline: none;
   font-family: var(--font-principal);
   font-size: 12px;
   border: 1px solid black;
   border-radius: 2px;
}

.insert-file {
   font-family: var(--font-principal);
   font-size: 10px;
}

.custom-file-upload {
   color: rgb(102, 93, 93);
}

button {
   width: 260px;
   height: 40px;
   margin-top: 10px;
   background-color: var(--cor-padrao);
   border: none;
   color: white;
   border-radius: 3px;
   transition: background-color 0.2 s ease-in-out;
   font-family: var(--font-principal);
   font-size: 12px;
   font-weight: 400;
}

.insert,
button {
   width: 400px;
}

button:hover {
   background-color: white;
   border: 1px solid black;
   color: var(--cor-padrao);
   border-radius: 3px;
}

button:active {
   opacity: 0.15;
}

.extra-spaces {
   margin-bottom: 20px;
}

/* Esconde o input original */

.error,
.error-name-vendedor,
.error-email-vendedor,
.error-password-vendedor,
.error-alvara-comercial {
   display: none;
   margin-bottom: 3px;
   width: 260px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   border: 1px solid rgb(228, 51, 51);
   color: rgb(228, 51, 51);
   padding: 5px;
   border-radius: 3px;
   font-family: Poppins, sans-serif;
   font-size: 10px;
}
